apiVersion: v1
kind: Namespace
metadata:
  name: perf
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: perf-app
  namespace: perf
spec:
  replicas: 3
  selector:
    matchLabels:
      app: perf-app
  template:
    metadata:
      labels:
        app: perf-app
    spec:
      containers:
        - name: perf-app
          # Update the image to the one you pushed (e.g., my-registry/performance-improve:tag)
          image: thanhncs/perf-app:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: JAVA_TOOL_OPTIONS
              value: "-XX:+UseG1GC"
          resources:
            requests:
              cpu: "500m"
              memory: "512Mi"
            limits:
              cpu: "1"
              memory: "1Gi"
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: perf-app
  namespace: perf
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/path: "/actuator/prometheus"
    prometheus.io/port: "8080"
spec:
  selector:
    app: perf-app
  ports:
    - name: http
      port: 80
      targetPort: 8080
