version: '3.8'

services:
  app:
    build: .
    image: thanhncs/perf-app:latest
    ports:
      - "8080:8080"
    environment:
      - JAVA_OPTS=
    cap_add:
      - SYS_ADMIN
      - PERFMON
    security_opt:
      - seccomp=unconfined
    command: ["sh", "-c", "java $JAVA_OPTS -jar app.jar"]

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana-oss:latest
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
