apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: bottleneck-resolve
  namespace: bottleneck-resolve
  labels:
    app: bottleneck-resolve
    release: prometheus
spec:
  selector:
    matchLabels:
      app: bottleneck-resolve
  endpoints:
  - port: http
    path: /actuator/prometheus
    interval: 30s
    scrapeTimeout: 10s
    relabelings:
    - sourceLabels: [__meta_kubernetes_pod_name]
      targetLabel: pod
    - sourceLabels: [__meta_kubernetes_namespace]
      targetLabel: namespace
