server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: "health,info,prometheus"
  endpoint:
    prometheus:
      enabled: true
  metrics:
    tags:
      application: performance-improve

spring:
  application:
    name: performance-improve
